div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

h1 {
  font-size: 2em;
}

article {
    border-radius: 6px;
    border: 2px solid blueviolet;
    margin-bottom: 5%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
  }

  form p {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .save-button {
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .save-button:hover {
    background-color: rgb(162, 93, 226);
  }

  .save-button:disabled {
    background-color: grey;
  }

  .reaction-button {
    background-color: blueviolet;
    color: white;
    padding: 14px 20px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
  }

  .reaction-button:hover {
    background-color: rgb(162, 93, 226);
  }